@{
    string search = Session["CoursesSearch"] != null ? ((bool)Session["CoursesSearch"]).ToString() : false.ToString();
    string searchString = Session["CoursesSearchString"] != null ? (string)Session["CoursesSearchString"] : "";
}

<div id="CourseListPanel" class="courseListLayout">

</div>


@section Scripts {
    <script>
        let coursesListAutoRefreshPanel = null;
        let keywordsOnchangeTimer = null;

        $(() => {
            newSession(600);

            $.get("/Courses/GetCourses?forceRefresh=true", function (html) {
                $("#CourseListPanel").html(html);
                coursesListPostRefresh();
            });

            $(document).ready(function () {
                RestoreDetailsState();
                searchBarPostRefresh();
            });

            coursesListAutoRefreshPanel =
                new AutoRefreshedPanel(
                    "CourseListPanel",
                    "/Courses/GetCourses",
                    5,
                    coursesListPostRefresh);

            function coursesListPostRefresh(fromRefresh = true) {
                if (fromRefresh) {
                    RestoreDetailsState();
                    searchBarPostRefresh();
                    highlightKeyword();
                }
            }

            function searchBarPostRefresh() {
                $("#searchInput").off();
                $("#searchInput").on('keyup', function () {
                    clearTimeout(keywordsOnchangeTimer);
                    /* delay request by 0.5 seconds */
                    keywordsOnchangeTimer = setTimeout(() => {
                        $.get("/Courses/SetSearchString?value=" + $("#searchInput").val(), function () {
                            coursesListAutoRefreshPanel.refresh();
                        });
                    }, 1000 /* 1 seconds */);
                });
                $("#searchInput").on('search', function () { /* click on clear */
                    clearTimeout(keywordsOnchangeTimer);

                    $.get("/Courses/SetSearchString?value=" + $("#searchInput").val(), function () {
                        coursesListAutoRefreshPanel.refresh();
                    });
                });
                $("#searchInput").on("focus", function () {
                    coursesListAutoRefreshPanel.pause();
                });
                $("#searchInput").on("blur", function () {
                    coursesListAutoRefreshPanel.restart();
                });
            }

            function RestoreDetailsState() {

                $("details").off();

                $("details").on('toggle', function () {
                    let details_dom = $(this)[0];
                    if (details_dom != undefined) {
                        localStorage.setItem(details_dom.id, details_dom.open);
                    }
                });

                for (let i = 0; i < localStorage.length; i++) {
                    const key = localStorage.key(i);

                    if (key.indexOf("details") > -1) {
                        let details_dom = $("#" + key)[0];

                        if (details_dom != undefined)
                            details_dom.open = localStorage.getItem(key) == "true";
                    }
                }
            }

            function highlightKeyword() {
                if ("@search" == "True") {
                    let keyword = "@searchString";
                    if (keyword.length > 0) {
                        let courses = document.getElementsByClassName('courseText');
                        Array.from(courses).forEach(course => {
                            highlight(keyword.toLowerCase(), course);
                        });
                    }
                }
            }

        })
    </script>
}