@model Models.Student

<div id="StudentsDetailsPanel" class="studentsDetailsLayout">

</div>

<hr />

<div id="StudentsRegistrationsPanel" class="studentsRegistrationsLayout">

</div>

@section Scripts {
    <script>
        let studentsDetailsAutoRefreshPanel = null;
        let studentsRegistrationsAutoRefreshPanel = null;

        $(() => {
            newSession(600);

            $(document).ready(function () {
                RestoreDetailsState();
            });

            studentsDetailsAutoRefreshPanel =
                new AutoRefreshedPanel(
                    "StudentsDetailsPanel",
                    "/Students/GetStudentsDetails/@Model.Id",
                    5,
                    studentsDetailsPostRefresh);

            studentsRegistrationsAutoRefreshPanel =
                new AutoRefreshedPanel(
                    "StudentsRegistrationsPanel",
                    "/Students/GetStudentsRegistrations/@Model.Id",
                    5,
                    studentsRegistrationsPostRefresh);


            function studentsDetailsPostRefresh(fromRefresh = true) {
                if (fromRefresh) {

                }
            }

            function studentsRegistrationsPostRefresh(fromRefresh = true) {
                if (fromRefresh) {
                    RestoreDetailsState();
                }
            }

            function RestoreDetailsState() {

                $("details").off();

                $("details").on('toggle', function () {
                    let details_dom = $(this)[0];
                    if (details_dom != undefined) {
                        localStorage.setItem(details_dom.id, details_dom.open);
                    }
                });

                for (let i = 0; i < localStorage.length; i++) {
                    const key = localStorage.key(i);

                    if (key.indexOf("details") > -1) {
                        let details_dom = $("#" + key)[0];

                        if (details_dom != undefined)
                            details_dom.open = localStorage.getItem(key) == "true";
                    }
                }
            }


        })
    </script>
}

