@model IEnumerable<Models.Student>

@if (Model != null && Model.Any())
{
    var cohort = Model
        .GroupBy(s => s.Year)
        .OrderByDescending(g => g.Key);

    foreach (var year in cohort)
    {
        <details id="student_details_@year.Key">
            <summary>Cohorte @year.Key</summary>

            <ul style="padding-left: 15px;">
                @foreach (var stud in year)
                {
                    <li style="list-style-type: none;">
                        <a href="/Students/Details/@stud.Id" style="color: blue;">
                            @stud.Code
                        </a>

                        @stud.LastName @stud.FirstName
                    </li>
                }
            </ul>
        </details>
    }
}
else
{
    <p>Aucun étudiant...</p>
}