@{
    string search = Session["Search"] != null ? ((bool)Session["Search"]).ToString() : false.ToString();
}

<div id="StudentListPanel" class="studentListLayout">

</div>


@section Scripts {
    <script>
        let studentsListAutoRefreshPanel = null;
        let yearsSelectAutoRefreshPanel = null;

        $(() => {
            newSession(600);

            $.get("/Students/GetStudents?forceRefresh=true", function (html) {
                $("#StudentListPanel").html(html);
            });

            $(document).ready(function () {
                RestoreDetailsState();
            });

            studentsListAutoRefreshPanel =
                new AutoRefreshedPanel(
                    "StudentListPanel",
                    "/Students/GetStudents",
                    5,
                    studentsListPostRefresh);

            yearsSelectAutoRefreshPanel =
                new AutoRefreshedPanel(
                    "yearSelectPanel",
                    "/Students/GetYearsList",
                    -1 /* manually refreshed */,
                    yearsSelectPostRefresh);


            function studentsListPostRefresh(fromRefresh = true) {
                if (fromRefresh) {
                    RestoreDetailsState();
                    yearsSelectPostRefresh();
                }
            }

            function yearsSelectPostRefresh() {

                $("#yearSelect").off();
                $("#yearSelect").on("focus", function () {
                    yearsSelectAutoRefreshPanel.pause();
                });
                $("#yearSelect").on("blur", function () {
                    yearsSelectAutoRefreshPanel.restart();
                });
                $("#yearSelect").on('change', function () {
                    window.location = "/Students/SetSearchYear?value=" + $("#yearSelect").val();
                });
            }

            function RestoreDetailsState() {

                $("details").off();

                $("details").on('toggle', function () {
                    let details_dom = $(this)[0];
                    if (details_dom != undefined) {
                        localStorage.setItem(details_dom.id, details_dom.open);
                    }
                });

                for (let i = 0; i < localStorage.length; i++) {
                    const key = localStorage.key(i);

                    if (key.indexOf("details") > -1) {
                        let details_dom = $("#" + key)[0];

                        if (details_dom != undefined)
                            details_dom.open = localStorage.getItem(key) == "true";
                    }
                }
            }

        })
    </script>
}