@{
    int selectedOwnerId = (int)Session["SelectedMediasOwner"];
}

<select id="mediasOwnerSelect" class="form-control ellipsis">
    <option value="0" selected>Tous les usagers</option>
    @foreach (var owner in DAL.DB.Medias.OwnersList())
    {
        string selected = selectedOwnerId == owner.Id ? "selected" : "";
        <option value="@owner.Id" @selected>@owner.Name</option>
    }
</select>