@model Models.Teacher

<div id="TeachersDetailsPanel" class="teachersDetailsLayout">

</div>

<hr />

<div id="TeachersAllocationsPanel" class="teachersAllocationsLayout">

</div>

@section Scripts {
    <script>
        let teachersDetailsAutoRefreshPanel = null;
        let teachersAllocationsAutoRefreshPanel = null;

        $(() => {
            newSession(600);

            $(document).ready(function () {
                RestoreDetailsState();
            });

            teachersDetailsAutoRefreshPanel =
                new AutoRefreshedPanel(
                    "TeachersDetailsPanel",
                    "/Teachers/GetTeachersDetails/@Model.Id",
                    5,
                    teachersDetailsPostRefresh);

            teachersAllocationsAutoRefreshPanel =
                new AutoRefreshedPanel(
                    "TeachersAllocationsPanel",
                    "/Teachers/GetTeachersAllocations/@Model.Id",
                    5,
                    teachersAllocationsPostRefresh);


            function teachersDetailsPostRefresh(fromRefresh = true) {
                if (fromRefresh) {


                }
            }

            function teachersAllocationsPostRefresh(fromRefresh = true) {
                if (fromRefresh) {
                    RestoreDetailsState();
                }
            }

            function RestoreDetailsState() {

                $("details").off();

                $("details").on('toggle', function () {
                    let details_dom = $(this)[0];
                    if (details_dom != undefined) {
                        localStorage.setItem(details_dom.id, details_dom.open);
                    }
                });

                for (let i = 0; i < localStorage.length; i++) {
                    const key = localStorage.key(i);

                    if (key.indexOf("details") > -1) {
                        let details_dom = $("#" + key)[0];

                        if (details_dom != undefined)
                            details_dom.open = localStorage.getItem(key) == "true";
                    }
                }
            }

        })
    </script>
}

